    <!-- preload -->
    <div class="preload preload-container">
      <div class="preload-logo">
          <div class="spinner"></div>
      </div>
  </div>
  <!-- /preload -->
  <div id="wrapper">
      <!-- Top Bar -->
      <app-top-bar></app-top-bar>
      <!-- /Top Bar -->

      <!-- Header -->
      <app-header> </app-header>
      <!-- /Header -->

      <!-- Slider -->
      <app-slider></app-slider>
      <!-- /Slider -->

      <!-- Marquee -->
      <app-marque></app-marque>
      <!-- /Marquee -->

      <!-- Categories -->
      <app-categories></app-categories>
      <!-- /Categories -->

      <!-- Seller -->
      <app-seller></app-seller>
      <!-- /Seller -->

      <!-- Lookbook -->
      <app-lookbook></app-lookbook>
      <!-- /Lookbook -->
      <!-- Testimonial -->
      <app-testimonial></app-testimonial>
      <!-- /Testimonial -->
      <!-- brand -->
      <section class="flat-spacing-5 pt_0">
          <div class="container">
              <div dir="ltr" class="swiper tf-sw-brand" data-loop="false" data-play="false" data-preview="6" data-tablet="3" data-mobile="2" data-space-lg="0" data-space-md="0">
                  <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="brand-item">
                                  <img class="lazyload" data-src="assets/images/brand/brand-01.png" src="assets/images/brand/brand-01.png" alt="image-brand">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="brand-item">
                                  <img class="lazyload" data-src="assets/images/brand/brand-02.png" src="assets/images/brand/brand-02.png" alt="image-brand">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="brand-item">
                                  <img class="lazyload" data-src="assets/images/brand/brand-03.png" src="assets/images/brand/brand-03.png" alt="image-brand">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="brand-item">
                                  <img class="lazyload" data-src="assets/images/brand/brand-04.png" src="assets/images/brand/brand-04.png" alt="image-brand">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="brand-item">
                                  <img class="lazyload" data-src="assets/images/brand/brand-05.png" src="assets/images/brand/brand-05.png" alt="image-brand">
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="brand-item">
                                  <img class="lazyload" data-src="assets/images/brand/brand-06.png" src="assets/images/brand/brand-06.png" alt="image-brand">
                              </div>
                          </div>
                  </div>
              </div>
              <div class="sw-dots style-2 sw-pagination-brand justify-content-center"></div>
          </div>
      </section>
      <!-- /brand -->
      <!-- Shop Gram -->
      <section class="flat-spacing-7">
          <div class="container">
              <div class="flat-title wow fadeInUp" data-wow-delay="0s">
                  <span class="title">Shop Gram</span>
                  <p class="sub-title">Inspire and let yourself be inspired, from one unique fashion to another.</p>
              </div>
              <div class="wrap-carousel wrap-shop-gram">
                  <div dir="ltr" class="swiper tf-sw-shop-gallery" data-preview="5" data-tablet="3" data-mobile="2" data-space-lg="7" data-space-md="7">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="gallery-item hover-img wow fadeInUp" data-wow-delay=".2s">
                                  <div class="img-style">
                                      <img class="lazyload img-hover" data-src="assets/images/shop/gallery/gallery-7.jpg" src="assets/images/shop/gallery/gallery-7.jpg" alt="image-gallery">
                                  </div>
                                  <a href="#quick_add" data-bs-toggle="modal" class="box-icon"><span class="icon icon-bag"></span> <span class="tooltip">Quick Add</span></a>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="gallery-item hover-img wow fadeInUp" data-wow-delay=".3s">
                                  <div class="img-style">
                                      <img class="lazyload img-hover" data-src="assets/images/shop/gallery/gallery-3.jpg" src="assets/images/shop/gallery/gallery-3.jpg" alt="image-gallery">
                                  </div>
                                  <a href="#quick_add" data-bs-toggle="modal" class="box-icon"><span class="icon icon-bag"></span> <span class="tooltip">Quick Add</span></a>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="gallery-item hover-img wow fadeInUp" data-wow-delay=".4s">
                                  <div class="img-style">
                                      <img class="lazyload img-hover" data-src="assets/images/shop/gallery/gallery-5.jpg" src="assets/images/shop/gallery/gallery-5.jpg" alt="image-gallery">
                                  </div>
                                  <a href="#quick_add" data-bs-toggle="modal" class="box-icon"><span class="icon icon-bag"></span> <span class="tooltip">Quick Add</span></a>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="gallery-item hover-img wow fadeInUp" data-wow-delay=".5s">
                                  <div class="img-style">
                                      <img class="lazyload img-hover" data-src="assets/images/shop/gallery/gallery-8.jpg" src="assets/images/shop/gallery/gallery-8.jpg" alt="image-gallery">
                                  </div>
                                  <a href="#" class="box-icon"><span class="icon icon-bag"></span> <span class="tooltip">View product</span></a>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="gallery-item hover-img wow fadeInUp" data-wow-delay=".6s">
                                  <div class="img-style">
                                      <img class="lazyload img-hover" data-src="assets/images/shop/gallery/gallery-6.jpg" src="assets/images/shop/gallery/gallery-6.jpg" alt="image-gallery">
                                  </div>
                                  <a href="#" class="box-icon"><span class="icon icon-bag"></span> <span class="tooltip">View product</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="sw-dots sw-pagination-gallery justify-content-center"></div>
              </div>
          </div>
      </section>
      <!-- /Shop Gram -->
      <!-- Icon box -->
      <section class="flat-spacing-7 flat-iconbox wow fadeInUp" data-wow-delay="0s">
          <div class="container">
              <div class="wrap-carousel wrap-mobile">
                  <div dir="ltr" class="swiper tf-sw-mobile" data-preview="1" data-space="15">
                      <div class="swiper-wrapper wrap-iconbox">
                          <div class="swiper-slide">
                              <div class="tf-icon-box style-border-line text-center">
                                  <div class="icon">
                                      <i class="icon-shipping"></i>
                                  </div>
                                  <div class="content">
                                      <div class="title">Free Shipping</div>
                                      <p>Free shipping over order $120</p>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="tf-icon-box style-border-line text-center">
                                  <div class="icon">
                                      <i class="icon-payment fs-22"></i>
                                  </div>
                                  <div class="content">
                                      <div class="title">Flexible Payment</div>
                                      <p>Pay with Multiple Credit Cards</p>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="tf-icon-box style-border-line text-center">
                                  <div class="icon">
                                      <i class="icon-return fs-22"></i>
                                  </div>
                                  <div class="content">
                                      <div class="title">14 Day Returns</div>
                                      <p>Within 30 days for an exchange</p>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="tf-icon-box style-border-line text-center">
                                  <div class="icon">
                                      <i class="icon-suport"></i>
                                  </div>
                                  <div class="content">
                                      <div class="title">Premium Support</div>
                                      <p>Outstanding premium support</p>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                  </div>
                  <div class="sw-dots style-2 sw-pagination-mb justify-content-center"></div>
              </div>
          </div>
      </section>
      <!-- /Icon box -->
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- /Footer -->
      
  </div>

  <!-- gotop -->
  <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
      </svg>
  </div>
  <!-- /gotop -->
  
  <!-- toolbar-bottom -->
  <div class="tf-toolbar-bottom type-1150">
      <div class="toolbar-item">
          <a href="#toolbarShopmb" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft">
              <div class="toolbar-icon">
                  <i class="icon-shop"></i>
              </div>
              <div class="toolbar-label">Shop</div>
          </a>
      </div>
      
      <div class="toolbar-item">
          <a href="#canvasSearch" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft">
              <div class="toolbar-icon">
                  <i class="icon-search"></i>
              </div>
              <div class="toolbar-label">Search</div>
          </a>
      </div>
      <div class="toolbar-item">
          <a href="#login" data-bs-toggle="modal">
              <div class="toolbar-icon">
                  <i class="icon-account"></i>
              </div>
              <div class="toolbar-label">Account</div>
          </a>
      </div>
      <div class="toolbar-item">
          <a href="#">
              <div class="toolbar-icon">
                  <i class="icon-heart"></i>
                  <div class="toolbar-count">0</div>
              </div>
              <div class="toolbar-label">Wishlist</div>
          </a>
      </div>
      <div class="toolbar-item">
          <a href="#shoppingCart" data-bs-toggle="modal">
              <div class="toolbar-icon">
                  <i class="icon-bag"></i>
                  <div class="toolbar-count">1</div>
              </div>
              <div class="toolbar-label">Cart</div>
          </a>
      </div>
  </div>
  <!-- /toolbar-bottom -->

  <!-- mobile menu -->
  <div class="offcanvas offcanvas-start canvas-mb" id="mobileMenu">
      <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
      <div class="mb-canvas-content">
          <div class="mb-body">
         
              <div class="mb-other-content">
                  <div class="d-flex group-icon">
                      <a href="#" class="site-nav-icon"><i class="icon icon-heart"></i>Wishlist</a>
                      <a href="#" class="site-nav-icon"><i class="icon icon-search"></i>Search</a>
                  </div>
                  <div class="mb-notice">
                      <a href="#" class="text-need">Need help ?</a>
                  </div>
                  <ul class="mb-info">
                      <li>Address: 1234 Fashion Street, Suite 567, <br> New York, NY 10001</li>
                      <li>Email: <b>infolulla.com</b></li>
                      <li>Phone: <b>(555) 555-5555</b></li>
                  </ul>
              </div>
          </div>
          <div class="mb-bottom">
              <a href="#" class="site-nav-icon"><i class="icon icon-account"></i>Login</a>
              <div class="bottom-bar-language">
                  <div class="tf-currencies">
                      <select class="image-select center style-default type-currencies">
                          <option data-thumbnail="assets/images/country/fr.svg">EUR <span>€ | France</span></option>
                          <option data-thumbnail="assets/images/country/de.svg">EUR <span>€ | Germany</span></option>
                          <option selected data-thumbnail="assets/images/country/us.svg">USD <span>$ | United States</span></option>
                          <option data-thumbnail="assets/images/country/vn.svg">VND <span>₫ | Vietnam</span></option>
                      </select>
                  </div>
                  <div class="tf-languages">
                      <select class="image-select center style-default type-languages">
                          <option>English</option>
                          <option>العربية</option>
                          <option>简体中文</option>
                          <option>اردو</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>       
  </div>
  <!-- /mobile menu -->



  <!-- canvasSearch -->
  <app-search></app-search>
  <!-- /canvasSearch -->

  <!-- toolbarShopmb -->
  <div class="offcanvas offcanvas-start canvas-mb toolbar-shop-mobile" id="toolbarShopmb">
      <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
      <div class="mb-canvas-content">
          <div class="mb-body">
              <ul class="nav-ul-mb" id="wrapper-menu-navigation">
                  <li class="nav-mb-item">
                      <a href="#" class="tf-category-link mb-menu-link">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate1.jpg" alt="">
                          </div>
                          <span>Accessories</span>
                      </a>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#" class="tf-category-link mb-menu-link">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate2.jpg" alt="">
                          </div>
                          <span>Dog</span>
                      </a>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#" class="tf-category-link mb-menu-link">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate3.jpg" alt="">
                          </div>
                          <span>Grocery</span>
                      </a>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#" class="tf-category-link mb-menu-link">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate4.png" alt="">
                          </div>
                          <span>Handbag</span>
                      </a>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#cate-menu-one" class="tf-category-link has-children collapsed mb-menu-link" data-bs-toggle="collapse" aria-expanded="true" aria-controls="cate-menu-one">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate5.jpg" alt="">
                          </div>
                          <span>Fashion</span>
                          <span class="btn-open-sub"></span>
                      </a>
                      <div id="cate-menu-one" class="collapse list-cate">
                          <ul class="sub-nav-menu" id="cate-menu-navigation">
                              <li>
                                  <a href="#cate-shop-one" class="tf-category-link has-children sub-nav-link collapsed"  data-bs-toggle="collapse" aria-expanded="true" aria-controls="cate-shop-one">
                                      <div class="image">
                                          <img src="assets/images/shop/cate/cate6.jpg" alt="">
                                      </div>
                                      <span>Mens</span>
                                      <span class="btn-open-sub"></span>
                                  </a>
                                  <div id="cate-shop-one" class="collapse">
                                      <ul class="sub-nav-menu sub-menu-level-2">
                                          <li>
                                              <a href="#" class="tf-category-link sub-nav-link">
                                                  <div class="image">
                                                      <img src="assets/images/shop/cate/cate1.jpg" alt="">
                                                  </div>
                                                  <span>Accessories</span>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#" class="tf-category-link sub-nav-link">
                                                  <div class="image">
                                                      <img src="assets/images/shop/cate/cate8.jpg" alt="">
                                                  </div>
                                                  <span>Shoes</span>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </li>
                              <li>
                                  <a href="#cate-shop-two" class="tf-category-link has-children sub-nav-link collapsed"  data-bs-toggle="collapse" aria-expanded="true" aria-controls="cate-shop-two">
                                      <div class="image">
                                          <img src="assets/images/shop/cate/cate9.jpg" alt="">
                                      </div>
                                      <span>Womens</span>
                                      <span class="btn-open-sub"></span>
                                  </a>
                                  <div id="cate-shop-two" class="collapse">
                                      <ul class="sub-nav-menu sub-menu-level-2">
                                          <li>
                                              <a href="#" class="tf-category-link sub-nav-link">
                                                  <div class="image">
                                                      <img src="assets/images/shop/cate/cate4.png" alt="">
                                                  </div>
                                                  <span>Handbag</span>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#" class="tf-category-link sub-nav-link">
                                                  <div class="image">
                                                      <img src="assets/images/shop/cate/cate7.jpg" alt="">
                                                  </div>
                                                  <span>Tee</span>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#cate-menu-two" class="tf-category-link has-children collapsed mb-menu-link" data-bs-toggle="collapse" aria-expanded="true" aria-controls="cate-menu-two">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate6.jpg" alt="">
                          </div>
                          <span>Men</span>
                          <span class="btn-open-sub"></span>
                      </a>
                      <div id="cate-menu-two" class="collapse list-cate">
                          <ul class="sub-nav-menu" id="cate-menu-navigation1">
                              <li>
                                  <a href="#" class="tf-category-link sub-nav-link">
                                      <div class="image">
                                          <img src="assets/images/shop/cate/cate1.jpg" alt="">
                                      </div>
                                      <span>Accessories</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tf-category-link sub-nav-link">
                                      <div class="image">
                                          <img src="assets/images/shop/cate/cate8.jpg" alt="">
                                      </div>
                                      <span>Shoes</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#" class="tf-category-link mb-menu-link">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate7.jpg" alt="">
                          </div>
                          <span>Tee</span>
                      </a>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#" class="tf-category-link mb-menu-link">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate8.jpg" alt="">
                          </div>
                          <span>Shoes</span>
                      </a>
                  </li>
                  <li class="nav-mb-item">
                      <a href="#cate-menu-three" class="tf-category-link has-children collapsed mb-menu-link" data-bs-toggle="collapse" aria-expanded="true" aria-controls="cate-menu-three">
                          <div class="image">
                              <img src="assets/images/shop/cate/cate9.jpg" alt="">
                          </div>
                          <span>Women</span>
                          <span class="btn-open-sub"></span>
                      </a>
                      <div id="cate-menu-three" class="collapse list-cate">
                          <ul class="sub-nav-menu" id="cate-menu-navigation2">
                              <li>
                                  <a href="#" class="tf-category-link sub-nav-link">
                                      <div class="image">
                                          <img src="assets/images/shop/cate/cate4.png" alt="">
                                      </div>
                                      <span>Handbag</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tf-category-link sub-nav-link">
                                      <div class="image">
                                          <img src="assets/images/shop/cate/cate7.jpg" alt="">
                                      </div>
                                      <span>Tee</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="mb-bottom">
              <a href="#" class="tf-btn fw-5 btn-line">View all collection<i class="icon icon-arrow1-top-left"></i></a>
          </div>
      </div>       
  </div>
  <!-- /toolbarShopmb -->

  <!-- modal login -->
  <div class="modal modalCentered fade form-sign-in modal-part-content" id="login">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="header">
                  <div class="demo-title">Log in</div>
                  <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              </div>
              <div class="tf-login-form">
                  <form class="" action="#" accept-charset="utf-8">
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="email"  name="">
                          <label class="tf-field-label" for="">Email *</label>
                      </div>
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="password"  name="">
                          <label class="tf-field-label" for="">Password *</label>
                      </div>
                      <div>
                          <a href="#forgotPassword" data-bs-toggle="modal" class="btn-link link">Forgot your password?</a>
                      </div>
                      <div class="bottom"> 
                          <div class="w-100">
                              <button type="submit" class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Log in</span></button>
                          </div>
                          <div class="w-100">
                              <a href="#register" data-bs-toggle="modal" class="btn-link fw-6 w-100 link">
                                  New customer? Create your account
                                  <i class="icon icon-arrow1-top-left"></i>
                              </a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal modalCentered fade form-sign-in modal-part-content" id="forgotPassword">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="header">
                  <div class="demo-title">Reset your password</div>
                  <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              </div>
              <div class="tf-login-form">
                  <form class="">
                      <div>
                          <p>Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails</p>
                      </div>
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="email"  name="">
                          <label class="tf-field-label" for="">Email *</label>
                      </div>
                      <div>
                          <a href="#login" data-bs-toggle="modal" class="btn-link link">Cancel</a>
                      </div>
                      <div class="bottom"> 
                          <div class="w-100">
                              <button type="submit" class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Reset password</span></button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal modalCentered fade form-sign-in modal-part-content" id="register">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="header">
                  <div class="demo-title">Register</div>
                  <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              </div>
              <div class="tf-login-form">
                  <form class="">
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="text"  name="">
                          <label class="tf-field-label" for="">First name</label>
                      </div>
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="text"  name="">
                          <label class="tf-field-label" for="">Last name</label>
                      </div>
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="email"  name="">
                          <label class="tf-field-label" for="">Email *</label>
                      </div>
                      <div class="tf-field style-1">
                          <input class="tf-field-input tf-input" placeholder=" " type="password"  name="">
                          <label class="tf-field-label" for="">Password *</label>
                      </div>
                      <div class="bottom"> 
                          <div class="w-100">
                              <a href="#" class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Register</span></a>
                          </div>
                          <div class="w-100">
                              <a href="#login" data-bs-toggle="modal" class="btn-link fw-6 w-100 link">
                                  Already have an account? Log in here
                                  <i class="icon icon-arrow1-top-left"></i>
                              </a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /modal login -->

  <!-- shoppingCart -->
  <app-cart></app-cart>
  <!-- /shoppingCart -->

  <!-- modal compare -->
  <div class="offcanvas offcanvas-bottom canvas-compare" id="compare">
      <div class="canvas-wrapper">
          <header class="canvas-header">
              <div class="close-popup">
                  <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
              </div>
          </header>
          <div class="canvas-body">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <div class="tf-compare-list">
                              <div class="tf-compare-head">
                                  <div class="title">Compare Products</div>
                              </div>
                              <div class="tf-compare-offcanvas">
                                  <div class="tf-compare-item">
                                      <div class="position-relative">
                                          <div class="icon">
                                              <i class="icon-close"></i>
                                          </div>
                                          <a href="#">
                                              <img class="radius-3" src="assets/images/products/orange-1.jpg" alt="">
                                          </a>
                                      </div>
                                  </div>
                                  <div class="tf-compare-item">
                                      <div class="position-relative">
                                          <div class="icon">
                                              <i class="icon-close"></i>
                                          </div>
                                          <a href="#">
                                              <img class="radius-3" src="assets/images/products/pink-1.jpg" alt="">
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <div class="tf-compare-buttons">
                                  <div class="tf-compare-buttons-wrap">
                                      <a href="#" class="tf-btn radius-3 btn-fill justify-content-center fw-6 fs-14 flex-grow-1 animate-hover-btn ">Compare</a>
                                      <div class="tf-compapre-button-clear-all link">
                                          Clear All
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>       
  </div>
  <!-- /modal compare -->
  
  <!-- modal quick_add -->
  <div class="modal fade modalDemo" id="quick_add">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="header">
                  <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              </div>
              <div class="wrap">
                  <div class="tf-product-info-item">
                      <div class="image">
                          <img src="assets/images/products/orange-1.jpg" alt="">
                      </div>
                      <div class="content">
                          <a href="#">Ribbed Tank Top</a>
                          <div class="tf-product-info-price">
                              <!-- <div class="price-on-sale">$8.00</div>
                              <div class="compare-at-price">$10.00</div>
                              <div class="badges-on-sale"><span>20</span>% OFF</div> -->
                              <div class="price">$18.00</div>
                          </div>
                      </div>
                  </div>
                  <div class="tf-product-info-variant-picker mb_15">
                      <div class="variant-picker-item">
                          <div class="variant-picker-label">
                              Color: <span class="fw-6 variant-picker-label-value">Orange</span>
                          </div>
                          <div class="variant-picker-values">
                              <input id="values-orange" type="radio" name="color" checked>
                              <label class="hover-tooltip radius-60" for="values-orange" data-value="Orange">
                                  <span class="btn-checkbox bg-color-orange"></span>
                                  <span class="tooltip">Orange</span>
                              </label>
                              <input id="values-black" type="radio" name="color">
                              <label class=" hover-tooltip radius-60" for="values-black" data-value="Black">
                                  <span class="btn-checkbox bg-color-black"></span>
                                  <span class="tooltip">Black</span>
                              </label>
                              <input id="values-white" type="radio" name="color">
                              <label class="hover-tooltip radius-60" for="values-white" data-value="White">
                                  <span class="btn-checkbox bg-color-white"></span>
                                  <span class="tooltip">White</span>
                              </label>
                          </div>
                      </div>
                      <div class="variant-picker-item">
                          <div class="variant-picker-label">
                              Size: <span class="fw-6 variant-picker-label-value">S</span>
                          </div>
                          <div class="variant-picker-values">
                              <input type="radio" name="size" id="values-s" checked>
                              <label class="style-text" for="values-s" data-value="S">
                                  <p>S</p>
                              </label>
                              <input type="radio" name="size" id="values-m">
                              <label class="style-text" for="values-m" data-value="M">
                                  <p>M</p>
                              </label>
                              <input type="radio" name="size" id="values-l">
                              <label class="style-text" for="values-l" data-value="L">
                                  <p>L</p>
                              </label>
                              <input type="radio" name="size" id="values-xl">
                              <label class="style-text" for="values-xl" data-value="XL">
                                  <p>XL</p>
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="tf-product-info-quantity mb_15">
                      <div class="quantity-title fw-6">Quantity</div>
                      <div class="wg-quantity">
                          <span class="btn-quantity minus-btn">-</span>
                          <input type="text" name="number" value="1">
                          <span class="btn-quantity plus-btn">+</span>
                      </div>
                  </div>
                  <div class="tf-product-info-buy-button">
                      <form>
                          <a class="tf-btn btn-fill justify-content-center fw-6 fs-16 flex-grow-1 animate-hover-btn btn-add-to-cart"><span>Add to cart -&nbsp;</span><span class="tf-qty-price">$18.00</span></a>
                          <div class="tf-product-btn-wishlist btn-icon-action">
                              <i class="icon-heart"></i>
                              <i class="icon-delete"></i>
                          </div>
                          <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="tf-product-btn-wishlist box-icon bg_white compare btn-icon-action">
                              <span class="icon icon-compare"></span>
                              <span class="icon icon-check"></span>
                          </a>
                          <div class="w-100">
                              <a href="#" class="btns-full">Buy with <img src="assets/images/payments/paypal.png" alt=""></a>
                              <a href="#" class="payment-more-option">More payment options</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /modal quick_add -->

  <!-- modal quick_view -->
  <div class="modal fade modalDemo" id="quick_view">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="header">
                  <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              </div>
              <div class="wrap">
                  <div class="tf-product-media-wrap">
                      <div dir="ltr" class="swiper tf-single-slide">
                          <div class="swiper-wrapper" >
                              <div class="swiper-slide">
                                  <div class="item">
                                      <img src="assets/images/products/orange-1.jpg" alt="">
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="item">
                                      <img src="assets/images/products/pink-1.jpg" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-button-next button-style-arrow single-slide-prev"></div>
                          <div class="swiper-button-prev button-style-arrow single-slide-next"></div>
                      </div>
                  </div>
                  <div class="tf-product-info-wrap position-relative">
                      <div class="tf-product-info-list">
                          <div class="tf-product-info-title">
                              <h5><a class="link" href="#">Ribbed Tank Top</a></h5>
                          </div>
                          <div class="tf-product-info-badges">
                              <div class="badges text-uppercase">Best seller</div>
                              <div class="product-status-content">
                                  <i class="icon-lightning"></i>
                                  <p class="fw-6">Selling fast! 48 people have this in their carts.</p>
                              </div>
                          </div>
                          <div class="tf-product-info-price">
                              <div class="price">$18.00</div>
                          </div>
                          <div class="tf-product-description">
                              <p>Nunc arcu faucibus a et lorem eu a mauris adipiscing conubia ac aptent ligula facilisis a auctor habitant parturient a a.Interdum fermentum.</p>
                          </div>
                          <div class="tf-product-info-variant-picker">
                              <div class="variant-picker-item">
                                  <div class="variant-picker-label">
                                      Color: <span class="fw-6 variant-picker-label-value">Orange</span>
                                  </div>
                                  <div class="variant-picker-values">
                                      <input id="values-orange-1" type="radio" name="color-1" checked>
                                      <label class="hover-tooltip radius-60" for="values-orange-1" data-value="Orange">
                                          <span class="btn-checkbox bg-color-orange"></span>
                                          <span class="tooltip">Orange</span>
                                      </label>
                                      <input id="values-black-1" type="radio" name="color-1">
                                      <label class=" hover-tooltip radius-60" for="values-black-1" data-value="Black">
                                          <span class="btn-checkbox bg-color-black"></span>
                                          <span class="tooltip">Black</span>
                                      </label>
                                      <input id="values-white-1" type="radio" name="color-1">
                                      <label class="hover-tooltip radius-60" for="values-white-1" data-value="White">
                                          <span class="btn-checkbox bg-color-white"></span>
                                          <span class="tooltip">White</span>
                                      </label>
                                  </div>
                              </div>
                              <div class="variant-picker-item">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="variant-picker-label">
                                          Size: <span class="fw-6 variant-picker-label-value">S</span>
                                      </div>
                                      <div class="find-size btn-choose-size fw-6">Find your size</div>
                                  </div>
                                  <div class="variant-picker-values">
                                      <input type="radio" name="size-1" id="values-s-1" checked>
                                      <label class="style-text" for="values-s-1" data-value="S">
                                          <p>S</p>
                                      </label>
                                      <input type="radio" name="size-1" id="values-m-1">
                                      <label class="style-text" for="values-m-1" data-value="M">
                                          <p>M</p>
                                      </label>
                                      <input type="radio" name="size-1" id="values-l-1">
                                      <label class="style-text" for="values-l-1" data-value="L">
                                          <p>L</p>
                                      </label>
                                      <input type="radio" name="size-1" id="values-xl-1">
                                      <label class="style-text" for="values-xl-1" data-value="XL">
                                          <p>XL</p>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="tf-product-info-quantity">
                              <div class="quantity-title fw-6">Quantity</div>
                              <div class="wg-quantity">
                                  <span class="btn-quantity minus-btn">-</span>
                                  <input type="text" name="number" value="1">
                                  <span class="btn-quantity plus-btn">+</span>
                              </div>
                          </div>
                          <div class="tf-product-info-buy-button">
                              <form class="">
                                  <a href="javascript:void(0);" class="tf-btn btn-fill justify-content-center fw-6 fs-16 flex-grow-1 animate-hover-btn btn-add-to-cart"><span>Add to cart -&nbsp;</span><span class="tf-qty-price">$8.00</span></a>
                                  <a href="javascript:void(0);" class="tf-product-btn-wishlist hover-tooltip box-icon bg_white wishlist btn-icon-action">
                                      <span class="icon icon-heart"></span>
                                      <span class="tooltip">Add to Wishlist</span>
                                      <span class="icon icon-delete"></span>
                                  </a>
                                  <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="tf-product-btn-wishlist hover-tooltip box-icon bg_white compare btn-icon-action">
                                      <span class="icon icon-compare"></span>
                                      <span class="tooltip">Add to Compare</span>
                                      <span class="icon icon-check"></span>
                                  </a>
                                  <div class="w-100">
                                      <a href="#" class="btns-full">Buy with <img src="assets/images/payments/paypal.png" alt=""></a>
                                      <a href="#" class="payment-more-option">More payment options</a>
                                  </div>
                              </form>
                          </div>
                          <div>
                              <a href="#" class="tf-btn fw-6 btn-line">View full details<i class="icon icon-arrow1-top-left"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /modal quick_view -->

  <!-- modal find_size -->
  <div class="modal fade modalDemo tf-product-modal" id="find_size">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="header">
                  <div class="demo-title">Size chart</div>
                  <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              </div>
              <div class="tf-rte">
                  <div class="tf-table-res-df">
                      <h6>Size guide</h6>
                      <table class="tf-sizeguide-table">
                          <thead>
                              <tr>
                                  <th>Size</th>
                                  <th>US</th>
                                  <th>Bust</th>
                                  <th>Waist</th>
                                  <th>Low Hip</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>XS</td>
                                  <td>2</td>
                                  <td>32</td>
                                  <td>24 - 25</td>
                                  <td>33 - 34</td>
                              </tr>
                              <tr>
                                  <td>S</td>
                                  <td>4</td>
                                  <td>34 - 35</td>
                                  <td>26 - 27</td>
                                  <td>35 - 26</td>
                              </tr>
                              <tr>
                                  <td>M</td>
                                  <td>6</td>
                                  <td>36 - 37</td>
                                  <td>28 - 29</td>
                                  <td>38 - 40</td>
                              </tr>
                              <tr>
                                  <td>L</td>
                                  <td>8</td>
                                  <td>38 - 29</td>
                                  <td>30 - 31</td>
                                  <td>42 - 44</td>
                              </tr>
                              <tr>
                                  <td>XL</td>
                                  <td>10</td>
                                  <td>40 - 41</td>
                                  <td>32 - 33</td>
                                  <td>45 - 47</td>
                              </tr>
                              <tr>
                                  <td>XXL</td>
                                  <td>12</td>
                                  <td>42 - 43</td>
                                  <td>34 - 35</td>
                                  <td>48 - 50</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="tf-page-size-chart-content">
                      <div>
                          <h6>Measuring Tips</h6>
                          <div class="title">Bust</div>
                          <p>Measure around the fullest part of your bust.</p>
                          <div class="title">Waist</div>
                          <p>Measure around the narrowest part of your torso.</p>
                          <div class="title">Low Hip</div>
                          <p class="mb-0">With your feet together measure around the fullest part of your hips/rear.
                          </p>
                      </div>
                      <div>
                          <img class="sizechart lazyload" data-src="assets/images/shop/products/size_chart2.jpg" src="assets/images/shop/products/size_chart2.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /modal find_size -->

  <!-- auto popup  -->
  <app-popup></app-popup>
  <!-- /auto popup  -->

<router-outlet></router-outlet>
